#field {
	position: absolute;
	width: 100vmin;
	height: 100vmin;
	left: calc(50vw - 50vmin);
	top: calc(50vh - 50vmin);
}

#field > * {
	position: absolute;
}
#field > *:after {
	position: relative;
	content: ' ';
	font-size: 0;
	border-radius: 100vmax;
	display: block;
}

.dot {
	width: 5px;
	height: 5px;
	transition: all 2s;
}
.dot:after {
	background: black;
	width: 5px;
	height: 5px;
	left: -2.5px;
	top: -2.5px;
}
.point {
	width: 5px;
	height: 5px;
}
.point:after {
	width: 10px;
	height: 10px;
	border-radius: 25px;
	border: 5px solid red;
	left: -10px;
	top: -10px;
}